﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Lockout.aspx.cs" Inherits="PortalIbid.Account.Lockout" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <hgroup>
        <h1>Bloqueada.</h1>
        <h2 class="text-danger">Esta conta foi bloqueada, tente novamente mais tarde.</h2>
    </hgroup>
</asp:Content>
